.container {
  overflow-x: hidden;
}

.navbar {
  background: #2C3E50;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-brand {
  color: white;
  letter-spacing: 1px;
  font-size: 2.5em;
}
.navbar-brand:hover {
  color: white;
}
.navbar-brand:active, .navbar-brand:focus{
  color: white;
  outline: none;
}

.navbar-right {
  padding: 0.7em;
}

.nav-link {
  color: white;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 0 0.7em;
}
.nav-link:hover {
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 4em;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2em;
}

p {
  font-family: 'Lato';
  font-size: 1.5em;
  text-align: justify;
}

section {
  padding: 50px;
  margin: 0 auto;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }

hr.star-light:after,
hr.star-primary:after {
    font-family: 'FontAwesome';
    font-size: 2em;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 0.25em;
    content: '\f005'; }

hr.star-light {
  border-color: black;
}

hr.star-light:after {
  color: black;
  background-color: #18BC9C;
}


hr.star-primary {
  border-color: black; }

hr.star-primary:after {
  color: black;
  background-color: white; }

#about {
  background: #18BC9C;
  padding-top: 150px;
}

/*#about h1, #contact h1 {
  color: black;
}*/
/*#about h3 {
  color: white;
}*/

#about p {
  font-family: 'Lato';
  margin-top: 20px;
  text-align: justify;
}

#portfolio {
  background: white;
  padding-top: 100px;
}

#portfolio h3 {
  padding: 20px;
}

.thumbnail {
  width: 100%;
}
.thumbnail:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 150, 0.5);
}

#contact {
  background: #18BC9C;
  padding-top: 50px;
  height: 50vh;
}
#contact .sites p {
  font-family: 'Lato'
  font-weight: 700;
  text-align: right;
}

#contact a {
  color: black;
}

footer {
  background: #2C3E50;
  height: 8vh;
  margin: 0;
}

footer h3 {
  font-size: 1em;
  margin: 0;
  padding: 3vh;
  color: white;
}
